DEBUG=False
SECRET_KEY=replace-with-a-secure-secret
ALLOWED_HOSTS=localhost,127.0.0.1,schoolerp-rlcs.onrender.com
CSRF_TRUSTED_ORIGINS=https://schoolerp-rlcs.onrender.com
DATABASE_URL=sqlite:///schoolerp/db.sqlite3
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
